<div fxLayout="column" fxLayoutAlign="start stretch" fxFill>
  <ng-container *ngIf="media.isActive('lt-sm')">
    <div style="margin: 16px">
        Here, you will find content relating to my professional development as a Software Engineer, as well as things relating to my personal life.
    </div>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" fxFlex>
        <mat-tab label="Latest News">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex style="overflow: auto">
                <app-latest-news></app-latest-news>
            </div>
        </mat-tab>
        <mat-tab label="Backlog">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex style="overflow: auto">
                <app-backlog></app-backlog>
            </div>
        </mat-tab>
    </mat-tab-group>
  </ng-container>
  <ng-container *ngIf="media.isActive('gt-xs')">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
      <mat-card class="home__welcome__card">
        <mat-card-header>
          <mat-card-title>Welcome</mat-card-title>
        </mat-card-header>
        <mat-card-content class="welcome__content">
          <p>
            Here, you will find content relating to my professional development as a Software Engineer, as well as things relating to my personal life.
          </p>
        </mat-card-content>
      </mat-card>
      <div fxLayout="row" fxLayoutAlign="center stretch" fxFlex>
        <app-latest-news fxFlex></app-latest-news>
        <app-backlog fxFlex="30"></app-backlog>
      </div>
    </div>

  </ng-container>
</div>