mat-card {
    margin: 16px;
    // padding: 0px;
}

.home__welcome__card {
    margin: 16px 16px 8px 16px;
}

.home__latest_news__card {
    margin: 8px 8px 16px 16px;
}

.home__coming_soon__card {
    margin: 8px 16px 16px 8px;
}

.welcome__content {
    padding: 16px;
}