<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
  <ng-container *ngIf="media.isActive('lt-sm')">

    <mat-accordion class="example-headers-align" hideToggle>
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Welcome
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Here, you will find content relating to my professional development as a Software Engineer, as well as things relating to my personal life.
        </p>
      </mat-expansion-panel>
    
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Latest News
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-latest-news></app-latest-news>
      </mat-expansion-panel>
    
      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Coming Soon
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-backlog></app-backlog>
      </mat-expansion-panel>
  
    </mat-accordion>
  </ng-container>
  <ng-container *ngIf="media.isActive('gt-xs')">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
      <mat-card class="home__welcome__card">
        <mat-card-header>
          <mat-card-title>Welcome</mat-card-title>
        </mat-card-header>
        <mat-card-content class="welcome__content">
          <p>
            Here, you will find content relating to my professional development as a Software Engineer, as well as things relating to my personal life.
          </p>
        </mat-card-content>
      </mat-card>
      <div fxLayout="row" fxLayoutAlign="center stretch" fxFlex>
        <app-latest-news fxFlex></app-latest-news>
        <app-backlog fxFlex="30"></app-backlog>
      </div>
    </div>

  </ng-container>
</div>