<div fxLayout="column">
    <mat-card>
      <mat-toolbar color="accent">
        <span>Coming Soon</span>
      </mat-toolbar>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item>Blog Posts</mat-list-item>
          <mat-list-item>Surveys</mat-list-item>
          <mat-list-item>Responsive Design</mat-list-item>
          <mat-list-item>Internationalization</mat-list-item>
          <mat-list-item>Color Picker</mat-list-item>
          <mat-list-item>Project Slate</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
</div>