<mat-card fxFlex>
    <mat-card-header>
        <mat-card-title>Latest News</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <table mat-table [dataSource]="latestNews" multiTemplateDataRows>

            <!-- Timestamp Column -->
            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.timestamp.seconds * 1000 | date: 'MM/dd' }}
                </td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>TItle</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.title }}
                </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayColumns.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedLatestNews ? 'expanded' : 'collapsed'">
                        <div class="example-element-description">
                            {{ element.description }}
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayColumns;"
                class="example-element-row"
                [class.example-expanded-row]="expandedLatestNews === element"
                (click)="expandedLatestNews = expandedLatestNews === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

    </mat-card-content>
</mat-card>