.blog__wrapper {

}

mat-card-header {
    padding-bottom: 0 !important;
}

.blog__header__card {
    margin: 16px 16px 8px 16px;
}

.blog__accordion {
    margin: 8px 16px 16px 16px;
}

.blog__wrapper {
    padding: 16px;

    mat-card-header {
        padding-bottom: 0 !important;
    }

    &-header {
        padding-bottom: 16px;
    }

    &-image {
        background-position: center;
        background-size: cover;
        width: 100px;
        height: 100px;
    }

    &-title {
        font-size: 24px;
        margin: 20px 0 16px;
    }
    
    &-subtitle {
        font-size: 18px;
    }

    &-summary {
        padding-bottom: 0;
    }

    &-job-card {
        margin: 16px;
        padding: 0;

        &-content {
            padding: 16px;
        }
    }

    &-job-wrapper {
        overflow-y: auto;
        margin-top: 16px;
    }

    &-description {
        border: 1px solid black;
    }

    &-blog-paragraph {
        padding: 16px 0;
    }
}