<!-- <div fxFlex>
  <mat-card fxFlex>
    <mat-card-title>Coming Soon</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item><s><i>Dark Mode</i></s></mat-list-item>
        <mat-list-item>Responsive Design</mat-list-item>
        <mat-list-item>
          <div mat-line>folder.name</div>
          <div mat-line>folder.date | date</div>
        </mat-list-item>
        <mat-list-item>Blog Posts</mat-list-item>
        <mat-list-item>Surveys</mat-list-item>
        <mat-list-item>Internationalization</mat-list-item>
        <mat-list-item>Color Picker</mat-list-item>
        <mat-list-item>Project TBD</mat-list-item>
        <mat-list-item>Project TBD</mat-list-item>
        <mat-list-item>Project TBD</mat-list-item>
        <mat-list-item>Project TBD</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div> -->
<mat-list>
  <mat-list-item><s><i>Dark Mode</i></s></mat-list-item>
  <mat-list-item>Responsive Design</mat-list-item>
  <!-- <mat-list-item>
    <div mat-line>folder.name</div>
    <div mat-line>folder.date | date</div>
  </mat-list-item> -->
  <mat-list-item>Blog Posts</mat-list-item>
  <mat-list-item>Surveys</mat-list-item>
  <mat-list-item>Internationalization</mat-list-item>
  <mat-list-item>Color Picker</mat-list-item>
  <mat-list-item>Project TBD</mat-list-item>
</mat-list>