<div fxLayout="column" fxLayoutAlign="start stretch" fxFill *ngIf="dynasty">

    <mat-card fxFlex>
        <mat-card-header>
            <mat-card-title>{{ dynasty.name }}</mat-card-title>
            <mat-card-subtitle>{{ dynasty.description }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <app-years></app-years>
        </mat-card-content>
    </mat-card>

    <!-- <mat-toolbar>
        <button mat-icon-button (click)="clickClose()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        {{ dynasty.name }}
    </mat-toolbar> -->
    <!-- <div mat-subheader>Mark: 1</div> -->

</div>