<div fxLayout="column" fxLayoutAlign="start stretch" fxFill>
    <mat-drawer-container fxFlex>
        <mat-drawer-content>
            <div fxFlex>
                <mat-list fxFlex>
                    <div mat-subheader>Thoughts of a middle-aged father and husband.</div>
                    <ng-container *ngIf="(posts$ | async) as posts">
                        <ng-container *ngFor="let post of posts">
                            <mat-list-item *ngIf="post" (click)="_selectedPost = post; userDrawer.toggle()">
                                <div mat-line>{{ post.title }}</div>
                                <div mat-line>{{ post.timestamp.toDate | date:'MM/dd/yyyy' }}</div>
                            </mat-list-item>
                            <mat-divider *ngIf="!last"></mat-divider>
                        </ng-container>
                    </ng-container>
                </mat-list>
            </div>
        </mat-drawer-content>
        <mat-drawer #userDrawer [mode]="'push'" position="end">
            <mat-toolbar>
                <button mat-icon-button (click)="userDrawer.toggle()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                Back to Posts
            </mat-toolbar>
            <app-post [post]="_selectedPost"></app-post>
        </mat-drawer>
    </mat-drawer-container>
</div>
