<div fxLayout="column" fxLayoutAlign="start stretch" fxFill>
    <mat-list fxFlex>
        <div mat-subheader>Thoughts of a middle-aged father and husband.</div>
        <ng-container *ngIf="(posts$ | async) as posts">
            <ng-container *ngFor="let post of posts">
                <ng-container *ngIf="media.isActive('gt-xs'); else mobileView">
                    <mat-list-item *ngIf="post" [routerLink]="post.id">
                        <div style="margin-right: 16px;">{{ post.timestamp.seconds * 1000 | date:'MM/dd' }}</div>
                        <div>{{ post.title }}</div>
                    </mat-list-item>
                </ng-container>
                <ng-template #mobileView>
                    <mat-list-item *ngIf="post" [routerLink]="post.id">
                        <div mat-line>{{ post.title }}</div>
                        <div mat-line>{{ post.timestamp.seconds * 1000 | date:'MM/dd' }}</div>
                    </mat-list-item>
                </ng-template>
                <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
        </ng-container>
    </mat-list>
</div>
