.dynasties__wrapper {
    margin: 16px;
    overflow: auto;

    &-image {
        background-position: center;
        background-size: cover;
        width: 100px;
        height: 100px;
    }

    &-title {
        font-size: 24px;
        margin: 20px 0 16px;
    }
    
    &-subtitle {
        font-size: 18px;
    }
}