<div fxLayout="column" fxLayoutAlign="start stretch" fxFill class="experience__wrapper">
  <mat-card>
    <mat-card-header>
        <img mat-card-avatar *ngIf="media.isActive('gt-xs')" [src]="'./assets/images/sub_logo.png'" class="experience__wrapper-image">
        <mat-card-title class="experience__wrapper-title">Rhombus_TV</mat-card-title>
        <mat-card-subtitle class="experience__wrapper-subtitle">Twitch Affiliate</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <div class="streaming__iframe" fxLayoutAlign="center stretch" fxFlex>
    <iframe fxFlex class="streaming__video"
      src="https://player.twitch.tv/?channel=rhombus_tv&parent=dougwilliamson.space&muted=true"
      frameborder="0"
      scrolling="no"
      allowfullscreen="true">
    </iframe>
    <iframe frameborder="0" class="streaming__chat"
      scrolling="no"
      id="chat_embed"
      src="https://www.twitch.tv/embed/rhombus_tv/chat?parent=dougwilliamson.space&muted=true">
    </iframe>
  </div>
</div>