.streaming_

.streaming

.streaming__wrapper {
    padding: 16px;

    &-image {
        background-position: center;
        background-size: cover;
        width: 100px;
        height: 100px;
    }

    &-title {
        font-size: 24px;
        margin: 20px 0 16px;
    }
    
    &-subtitle {
        font-size: 18px;
    }

    &-video {
        margin: 16px 8px 16px 0;
    }

    &-chat {
        margin: 16px 0 16px 8px;
    }
}